<div class="mx-auto mt-5 card col-md" style="width: 35rem;">
    <div class="card-body">
        <h5 class="card-title">Crie sua conta</h5> 
        <h6 class="card-subtitle mb-3 text-muted">Preencha os dados abaixo</h6>

        <form (submit)="register.registerUser($event)">
            <div class="row">
                <div class="form-group col-md">
                    <label for="firstName">Nome</label>
                    <input name="firstName" [(ngModel)]="register.user.firstName" type="text" id="firstName" class="form-control form-control-sm" placeholder="First name" autofocus/>
                </div>
                <div class="form-group col-md">
                    <label for="lastName">Sobrenome</label>
                    <input name="lastName" [(ngModel)]="register.user.lastName" type="text" id="lastName" class="form-control form-control-sm" placeholder="Last name" />
                </div>
            </div>

            <div class="form-group">
                    <label for="email">Celular</label>
                    <input name="email" [(ngModel)]="register.user.email" type="email" id="email" class="form-control form-control-sm" placeholder="(99) 99999-9999)" />        
            </div>
            <div class="form-group">
                <label for="document">CPF</label>
                <input name="document" [(ngModel)]="register.user.document" type="number" id="document" class="form-control form-control-sm" placeholder="Your document" />        
            </div>  
            
            <button type="submit" class="btn btn-primary btn-sm">Cadastrar</button>

        </form>
    </div>
</div>

<div class="text-center mx-auto mt-1 card" style="width: 35rem;">
    <div class="card-body">
        Você já possui uma conta? <a routerLink="/login"> Faça login </a>
    </div>
</div>
